div.navbar {
    height: 90px;
    background-color: transparent;
    border: none;
    margin: 0;
    position: relative;
}
a.logo img,
p img {
    height: 70px;
}
a.logo img {
    margin-top: 10px;
}
.navbar-navul {
    margin-top: 20Px;
}
.navbar-navul li a {
    color: black !important;
    cursor: pointer;
    text-transform: uppercase;
}
h2.pagestitle {
   text-align: center;
}
.validation-summary-errors {
    text-align: center;
}
.validation-summary-errors ul li {
    list-style: none;
}
h4.pagestitle {
    margin: 3% 0 3% 0;
}
p.pageslink {
    margin: 0 0 2% 2%;
}
p.pageslink a {
    text-decoration: none;
}
.table {
    width: 96%;
    margin: 0 2% 6% 2%;
}
div.form-horizontal {
    width: 60%;
    margin: 3% 23% 3% 17%;
}
div.backtopages {
    margin-left: 23%;
}
div.backtopages a {
    text-decoration: none;
}
.checkbox {
    margin-left: 20px;
}
div.sm {
    display: block !important;
    text-align: center;
    width: 400px;
    margin: 0 auto 2% auto;
}
table.sorting tr:not(.home) {
    cursor: pointer;
}
.ui-state-highlight {
    border: 1px dashed #ccc;
}
div.new-cat {
    margin: 30px 0 20px 40px;
    position: relative;
}
div.new-cat a {
    text-decoration: none;
}
span.ajax-text {
    display: none;
}
table.categories.sorting td {
    margin-top: 20px !important;
}
.ajaxdivtd {
    position: absolute;
}
#imgpreview,
#imgpreviewold {
    margin-top: 10px;
}
img#imgpreviewold {
    width: 200px;
    height: 200px;
}
section.sectionnavbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.0))), url(/Content/Images/animation/uptaste.gif);
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(/Content/Images/animation/uptaste.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
ul.ftlocul li {
    list-style: none;
}
li.ftlocation {
    margin-left: 10px;
}
#id-map {
    height: 300px;
    width: 400px;
    -webkit-box-shadow: 5px 5px 5px grey;
    box-shadow: 5px 5px 5px grey;
}
ion-icon.icon-big {
    font-size: 200%;
    display: block;
    color: green;
}
p.categorytitle {
    margin-left: 30px;
}
ul li.categorylist {
    list-style: none;
}
div.column {
    width: 44%;
    float: left;
    margin: 1% 3% 1% 3%;
}
div.dishpart {
    width: 98%;
    position: static;
    margin: 4% 1% 1% 1%;
    float: left;
}
div.card-body h5.card-title,
div.card-body p.card-price {
    display: inline-block;
}
div.card-body p.card-price {
    float: right;
}
img.card-img-top {
    display: block;
    margin: auto;
    height: 160px;
    width: auto;
}
div.card-body a {
    float: right;
}
span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
}
div.ajaxcart {
    position: relative;
    right: 20px;
}
div.ajaxcart a {
    line-height: 80px;
    text-decoration: none;
}
div.ajaxcart img {
    height: 40px;
}
div.ajaxcart span {
    color: black;
    font-size: 120%;
}
.ib {
    display: inline-block;
}
a.remove img {
    height: 40px;
    width: auto;
}
div.ajaxcart,
div.signin {
    display: inline-block;
}
div.signin a {
    text-decoration: none;
    color: black;
}
div.adminlink a {
    color: black;
}
.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
}
.ajaxbg span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50% -50% 0);
}
form.paypalform {
    position: absolute;
    left: -2000px;
}
div.queryorders label {
    margin: 0;
    margin-top: 6px;
}