@model FoodTruck3.Models.ViewModel.Cart.CartVM

<div class="ajaxcart" style="color:black;">
    <a href="/Cart/Index"><span><img src="~/Content/Images/icon/cart.png" /> @Model.Quantity</span></a>
</div>